[core]
	excludesfile = /Users/sa9sha9/.gitignore_global
	editor = emacs
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = sa9sha9
	email = sha9sa9@gmail.com
[alias]
	tree = log --graph --date=short --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'
[push]
	default = current
[commit]
	template = /Users/sa9sha9/.stCommitMsg
[credential]
  helper=store
