<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>14F27</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Google Photos Backup</string>
	<key>CFBundleGetInfoString</key>
	<string>GPBackup 1.1.1.338, © 2014 Google Inc.</string>
	<key>CFBundleIconFile</key>
	<string>GPUploader.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.google.gpautobackup</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Google Photos Backup</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1.1.338</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvmgcc42</string>
	<key>DTPlatformBuild</key>
	<string>4H127</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>10K549</string>
	<key>DTSDKName</key>
	<string>macosx10.6</string>
	<key>DTXcode</key>
	<string>0460</string>
	<key>DTXcodeBuild</key>
	<string>4H127</string>
	<key>GoogleBreakpadProduct</key>
	<string>GP_Uploader_Mac</string>
	<key>GoogleBreakpadProductDisplay</key>
	<string>Google Photos Backup</string>
	<key>GoogleBreakpadRequestComments</key>
	<string>1</string>
	<key>GoogleBreakpadSendAndExit</key>
	<string>1</string>
	<key>GoogleBreakpadVersion</key>
	<string>1.1.1.338</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>© 2014 Google Inc.</string>
</dict>
</plist>
